<script data-pjax>
    function ${name}_injector_config(){
        var daodao_url = ${item_config.url};
        var bbpath = /${item_config.path}/;
        var filter = '${item_config.filter}';
        var parent_div_git = ${get_layout};
        var item_html =  '${temple_html_text}';
        console.log('已挂载${name}')
        parent_div_git.insertAdjacentHTML("afterbegin",item_html) 
        daodao_card_init(daodao_url,{"bbpath":bbpath,"filter":filter})
    }
    if( ${get_layout} && (location.pathname ==='${item_config.enable_page}')){
        if (typeof daodao_card_init === 'function'){
            ${name}_injector_config()
        }else{
            getScript('https://cdn.jsdelivr.net/gh/ayasa520/daodao-kai@0.3.1/daodaomain.js').then(${name}_injector_config());
        }
    }</script>




