* {
    margin: 0;
    padding: 0;
}

.box {
    position: absolute;
    top: 0px;
    left: 0px;
    /* transform: translate(-50%,-50%); */
    /* width: 450px; */
    border-radius: 8px;
    padding: 50px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0,0,0,.5);
    /* border-radius: 15px; */
    right: 0px;
    bottom: 0px;
}
.box h2{
    margin:0 0 30px;
    padding:0;
    color: #fff;
    text-align:center;
}
.box .inputbox{
    position:relative;
}
.box .inputbox input{
    width: 100%;
    padding:10px 0;
    font-size:16px;
    color:#fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border:none;
    border-bottom: 1px solid #fff;
    outline:none;
    background: transparent;
}
.box .inputbox label{
    position:absolute;
    top:0px;
    left:0px;
    padding:10px 0;
    font-size: 16px;
    color:#fff;
    pointer-events:none;
    transition:.5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top:-18px;
    left:0;
    color:#03a9f4;
    font-size:14px;
}
.box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    right: 0px;
    background: #03a9f4;
    cursor: pointer;
}
button,
input {
    outline: none;
}



.popOutBg {
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
}

.popOut {
    z-index: 1000;
    position: fixed;
    width: 72%;
    height: 300px;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    transform: translate(-50%,-50%);
    max-width: 450px;
}
.createMain {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.popOut .logoff {
    position: absolute;
    right: 10px;
    top: 20px;
    height: 42px;
    line-height: 42px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    cursor: pointer;
}
.timeline .list {margin:0;list-style:none;padding-inline-start: 0px!important;}
.timeline .list .item:hover{
    box-shadow: 0 5px 10px 8px rgb(7 17 27 / 16%);
    transform: translateY(-3px);
}
.timeline .list .item{background:none;list-style-type:none;position: inherit;
    margin: 0.8rem 0!important;
    padding: 1.5rem!important;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 3px 8px 6px rgb(7 17 27 / 6%);
    transition: all 0.25s ease 0.2s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s;
    user-select: none;
}
/*.timeline .list li::after {transform: rotate(45deg);content:'';background-color: #3b3d42;display: block;position: absolute;top: 10px;left: -5px;width: 0.8em;height: 0.8em;outline: 15px solid #fff;}*/
.timeline .list .item div {position:relative;top:-13px;left:3em;width:670px;padding:12px 16px}
.timeline .list .item p.datatime{color: #fafafa;font-size: 0.75em;font-style: italic;background-color: var(--btn-bg);display: inline-block;padding:0.25em 1em 0.2em 1em;}
.timeline .list .item p.datacont{margin:0.65em 0 0.3em;}
.timeline .list .item p.datacont img{display:block;width:100%;}
.timeline .list .item p.datacont img[src*="emotion"]{display:inline-block;width:auto;}
.timeline .list .item p.datafrom{color: #aaa;font-size: 0.75em !important;font-style: italic;}
.timeline .list .item p{margin:0;font-size:16px;letter-spacing:1px;color: var(--font-color);}
button{border-radius:0;}
.dark-theme .timeline .list .item div p{color:#fafafa;}
.dark-theme .timeline .list .item div p svg{fill:#fafafa;}
.dark-theme .timeline .list .itemp .datafrom{color: #aaa;}
.dark-theme .timeline .list .item {background:#3b3d42;}
.dark-theme .timeline .list .item::after{outline: 15px solid #292a2d;}
@media (max-width:860px) {
    .timeline .list .item{margin-left:0;}
    .timeline .list .item div{width:calc(100vw - 75px);left:30px;}
}
#bber .item .delete_right{
    left: initial;
    top:initial;
    cursor: pointer;
width: 12px!important;
height: 12px!important;
position: absolute!important;
right: 12px!important;
    display: none!important;
}
#bber .item:hover .delete_right{
    display: inline-block!important;
}
.Input_Box {     
    transition: border linear .2s, box-shadow linear .5s;     
    -moz-transition: border linear .2s, -moz-box-shadow linear .5s;     
    -webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;     
    -moz-border-radius: 5px;     
    -webkit-border-radius: 5px;     
    border-radius: 5px;     
    background-color: #fff;     
    overflow: hidden;     
    position: absolute;     
    -moz-box-shadow: 0 0 5px #ccc;     
    -webkit-box-shadow: 0 0 5px #ccc;     
    box-shadow: 0 0 5px #ccc;    
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 2px; 
}     
.Input_Box>textarea {     
    width: 100%;     
    height: 240px;     
    margin: auto;     
    outline: none;     
    border: 1px solid #90939980;     
    resize: none;
    box-sizing: border-box;
    position: absolute;
    left: 0px;
    right: 0px;
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;     
    -moz-border-radius: 5px;     
    -webkit-border-radius: 5px;     
    border-radius: 5px;     
}     
.dd-input-foot{     
    text-align: right;
    display: flex;
    width: 100%;     
    height: 35px; 
    top:260px;    
    background-color: #fff;     
    -moz-border-radius: 0 0 5px 5px;     
    -webkit-border-radius: 0 0 5px 5px;     
    border-radius: 0 0 5px 5px;     
    position: absolute;     
}
.loginfoot{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}     
.imgBtn {     
    float: left;     
    margin-top: 8px;     
    margin-left: 10px;     
    background-image: url(imgs.png);     
    background-repeat: no-repeat;     
    background-position: 0 -13px;     
    height: 18px;     
    width: 20px;     
    cursor: pointer     
}     
.imgBtn:active {     
    margin-top: 9px;     
}     
.imgBtn:hover {     
    background-position: 0 -31px     
}     
/* .postBtn {     
    float: rightright;     
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;     
    color: #808080;     
    padding: 9px 20px 7px 20px;     
    border: 0;     
    cursor: pointer;     
    -moz-border-radius: 0 0 5px 0;     
    -webkit-border-radius: 0 0 5px 0;     
    border-radius: 0 0 5px 0;     
}     
.postBtn:hover {     
    color: #333;     
    background-color: #efefef;     
}     
.postBtn:active {     
    padding: 10px 20px 6px 20px;     
}      */
.faceDiv {     
    width: 500px;     
    height: 120px;     
    border-top: 1px solid #ccc;     
    position: absolute;     
    background-color: #fff;     
    -moz-border-radius: 5px 5px 0 0;     
    -webkit-border-radius: 5px 5px 0 0;     
    border-radius: 5px 5px 0 0;     
}     
.faceDiv>img {     
    border: 1px solid #ccc;     
    float: left;     
    margin-left: -1px;     
    margin-top: -1px;     
    position: relative;     
    width: 24px;     
    height: 24px;     
    padding: 3px 3px 3px 3px;     
    cursor: pointer;     
}     
.faceDiv>img:hover {     
    background-color: #efefef;     
}     
.faceDiv>img:active {     
    padding: 4px 3px 2px 3px;     
}    
.createContent{
    display: none;
    height: 242px;
    overflow: scroll;
    
    overflow-x:hidden;
}
.createContent::-webkit-scrollbar{
    display: none;
}
.createbox{
    display: none;
}
#bber {
    width: 100%;
}

#ddloading svg {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}
.dd-actions{
    text-align:right
}
.dd-bt{
    width: 56px;
    height: 32px;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 4px;
}
.dd-login:hover{
    color: #409eff;
    background-color: #409eff10;
    border-color: #409eff80;
}
.dd-create:hover{
    background: #66b1ff;
    border-color: #66b1ff;
    color: #FFF;
    border-color: #c6e2ff;
}
.dd-create{
    margin-left: 10px;
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
}
.dd-post{
    margin-left: 10px;
    margin-right: 6px;
}
.dd-action-bar{
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 6px;
}

.createContent li,.createContent  ol,.createContent  ul {
    list-style: revert!important;
    display: revert!important;
    margin: revert!important;
    padding: revert!important;
}